/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Times New Roman'), serif;
  font-variation-settings: 'wght' var(--main-font-weight);
  color: #000;
  background-color: #fff;
  background-image: var(--background-image);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-block-start: 100px;
  margin-block-end: 100px;
  font-family: var(--accidental-font, 'Press Start Regular'), sans-serif;
  background-color: #fff;
  outline: 2px solid #000;
  outline-offset: -2px;
}

.header__logo {
  font-family: inherit;
  font-weight: var(--main-font-weight);
  font-size: clamp(3.063rem, 2.71rem + 1.502vw, 4.063rem);
  text-transform: uppercase;
  padding-top: clamp(
    120px,
    calc(122px + (16 * ((100vw - 375px) / 1065))),
    128px
  );
}

.header__title {
  justify-self: center;
  font-weight: var(--main-font-weight);
  line-height: 14px;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  padding-top: 20px;
  padding-bottom: clamp(
    120px,
    calc(24px + (5 * ((100vw - 375px) / 1065))),
    128px
  );
}

.content {
  display: grid;
  gap: 50px;
}

.content__section {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #fff;
  outline: 2px solid #000;
  outline-offset: -2px;
}

.content__section-title {
  font-family: var(--main-font, 'Arial'), sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-variation-settings: 'wght' var(--title-font-weight);
  padding: 7px 11px 4px 12px;
}

.section__image {
  display: inline-block;
  position: relative;
  width: 100%;
  border: 2px solid #000;
  aspect-ratio: 1 / 1;
  margin: 0;
}

.image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.section__image-text {
  content: '';
  position: absolute;
  font-family: var(--accidental-font, 'Press Start Regular'), sans-serif;
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0;
  text-align: left;
  color: #000;
  top: 25px;
  right: 13px;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  -webkit-text-stroke: 1px #fff;
}

.grayscale {
  filter: brightness(150%) grayscale(70%) contrast(100%) saturate(80%);
}

.saturate {
  filter: brightness(120%) saturate(300%);
}

.hue {
  filter: hue-rotate(30deg);
}

.invert {
  filter: brightness(180%) contrast(120%) saturate(70%) invert(0.7);
}

.sepia {
  filter: sepia(90%);
}

.blur {
  filter: blur(1rem);
}

.combined {
  filter: hue-rotate(90deg) brightness(110%) contrast(40%) saturate(170%) blur(0.15rem);
}

@supports not (-webkit-text-stroke: 1px #fff) {
  .section__image-text {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
      1px 1px 0 v#fff;
  }
}

.section__text {
  font-family: var(--main-font, 'Arial'), sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-variation-settings: 'wght' var(--main-font-weight);
  padding: 25px;
}

.section__text:last-of-type {
  padding: 0px 25px 25px 25px;
}

.reaction-unit {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 5px;
  margin-block-end: 27px;
  margin-inline-end: 27px;
}

.button {
  position: relative;
  border: 2px solid #000;
  transition: border-color 0.3s ease;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 2px 2px 0 0 #000;
}

.button::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  top: 0;
  left: 0;
  z-index: 1;
}

.button:hover::before {
  transform: scale(1);
}

.card__like-button {
  padding-top: 4px;
  min-height: 38px;
  min-width: 130px;
}

.button__text {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative;
  font-family: var(--accidental-font, 'Press Start Regular'), sans-serif;
  font-weight: var(--main-font-weight);
  font-size: 14px; /* 0.9 rem */
  mix-blend-mode: difference;
  z-index: 2;
}

.card__icon-button {
  max-height: 38px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: #000;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s ease;
}

.core {
  fill: transparent;
  transition: fill 0.3s ease 0.03s;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition-delay: 0.05s;
}

.like-icon:hover .core {
  fill: var(--contour-color);
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked {
  transition: fill 0.3s ease;
  animation: enlargedHeart 0.3s ease-in 0.1s both;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition-delay: 0.06s;
}

.sparks {
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s both;
}

.like-icon:not(.is-liked) .contour {
  transition: stroke 0.1s linear;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 50px;
  margin-block-end: 100px;
}

.icon-floppy {
  width: 28px;
  height: 28px;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 2;
}

.button-floppy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
  background-color: #fff;
  min-width: 310px;
  min-height: 86px;
}

.dialog {
  position: fixed;
  max-width: 341px;
  min-height: 191px;
  border: 2px solid #000;
  background: #fff;
  inset: 0;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.dialog-columns {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  gap: 20px;
}

.dialog-icon-floppy {
  color: var(--contour-color);
}

.dialog-columns__text {
  font-family: var(--accidental-font, 'Press Start Regular'), sans-serif;
  font-weight: var(--main-font-weight);
  font-size: 14px;
  line-height: 21px;
  max-width: 65%;
  color: #000;
  text-transform: uppercase;
}

.button-ok {
  min-width: 257px;
  min-height: 38px;
  text-transform: uppercase;
  padding-top: 5px;
}

@media (min-width: 376px) {
  .header {
    align-self: center;
    max-width: 700px;
  }

  .content {
    max-width: 700px;
    align-self: center;
  }

  .content__section-title {
    padding: 6px 15px 5px 12px;
  }

  .section__image-text {
    top: 25px;
    right: 25px;
  }

  .button-floppy {
    display: flex;
    flex-direction: row;
    min-width: 339px;
    min-height: 54px;
  }

  .icon-floppy {
    width: 21px;
    height: 21px;
  }

  .dialog {
    max-width: 357px;
    min-height: 193px;
  }

  .dialog-body {
    gap: 30px;
  }

  .dialog-columns {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 20px;
    padding: 15px 0px 0px 13px;
  }

  .dialog-columns__text {
    max-width: 90%;
  }

  .button-ok {
    min-width: 293px;
    min-height: 38px;
    padding-top: 5px;
  }
}
